<header>
  <app-menu></app-menu>
</header>

<main>
  <app-opcao
    [title]="'Criar Conta'"
    [description]="'View and manage your stocks'"
    [link]="'/stocks'"
    [icon]="'fa fa-line-chart'"
  />
  <app-opcao
    [title]="'Editar'"
    [description]="'View and manage your stocks'"
    [link]="'/stocks'"
    [icon]="'fa fa-line-chart'"
  />
  <app-opcao
    [title]="'Listar'"
    [description]="'View and manage your stocks'"
    [link]="'/stocks'"
    [icon]="'fa fa-line-chart'"
  />
  <app-opcao
    [title]="'Deletar'"
    [description]="'View and manage your stocks'"
    [link]="'/stocks'"
    [icon]="'fa fa-line-chart'"
  />

</main>



