<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Adicionar produto" icon="pi pi-plus"
                            class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Deletar produtos" icon="pi pi-trash" class="p-button-danger"
                            (click)="deleteSelectedProducts()"
                            [disabled]="!selectedProducts || !selectedProducts.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['nome']" 
                [paginator]="true" [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Produdos {first} - {last} de {totalRecords} registros"
                [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Relação de produtos</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="code">
                            Id <p-sortIcon field="code"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nome">
                            Nome <p-sortIcon field="nome"></p-sortIcon>
                        </th>
                        <th pSortableColumn="marca">
                            Marca <p-sortIcon field="marca"></p-sortIcon>
                        </th>
                        <th pSortableColumn="status">
                            Status <p-sortIcon field="status"></p-sortIcon>
                        </th>
                        <th>
                            Lotes
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                        </td>
                        <td style="width: 16%; min-width: 10rem">
                            <span class="p-column-title">Code</span>
                            {{ product.code || product.id }}
                        </td>
                        <td style="width: 16%; min-width: 10rem">
                            <span class="p-column-title">Nome</span>
                            {{ product.nome }}
                        </td>

                        <td style="width: 16%; min-width: 10rem">
                            <span class="p-column-title">Marca</span>
                            {{ product.marca }}
                        </td>

                        <td style="width:16%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span [class]="'product-badge status-' + (product.status ? product.status.toLowerCase() : '')">{{product.status}}</span>
                        </td>

                        <td style="width: 16%; min-width: 10rem">
                            <span class="p-column-title">Lotes</span>
                            <span class="cursor-pointer text-primary hover:text-blue-700 transition-duration-200ms" (click)="toLote(product.id)" tabindex="0">
                                <i class="pi pi-search mr-2"></i> Ver Lotes
                            </span>
                        </td>

                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editProduct(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Informações do produto"
            [modal]="true" class="p-fluid">
            <app-add-item (addProduct)="onAddProduct()" (editProduct)="onEditProduct()"
                [idProduto]="product"></app-add-item>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <div>
                    <span *ngIf="product">Tem certeza que deseja deletar <b>{{ product.nome }}</b>?</span>
    
                    <p>Isso apagará todos os registros de lotes associados.</p>
                </div>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Tem certeza que deseja deletar todos os produtos selecionados?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>